@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

.ez-ls-h1 {
  font-family: "League Spartan";
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}
.ez-ls-h1-s1{

font-family: "League Spartan";
font-size: 64px;
font-style: normal;
font-weight: 500;
line-height: 125%; /* 80px */
}
.ez-ls-h2 {
  font-family: "League Spartan";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}
.ez-ls-h3 {
  font-family: "League Spartan";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}
.ez-ls-h4 {
  font-family: "League Spartan";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 28.8px */
}
.ez-ls-h5 {
  font-family: "League Spartan";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 28.8px */
}
.ez-ls-h5-b1 {
  font-family: League Spartan;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.ez-ls-h6 {
  font-family: "League Spartan";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.ez-ls-h7 {
  font-family: "League Spartan";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.ez-ls-hs1{
  font-family: Inter;
font-size: 230px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
background: linear-gradient(90deg, #FFF 0%, #E3E3E3 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.strike {
  text-decoration: line-through;
}
.primary {
  color: #158600;
}
.secondary {
  color: #87ea5d;
}
.brand-green {
  color: #d6ffea;
}
.typo-green {
  color: #dcffd5;
}
.underline {
  text-decoration-line: underline;
}
.black-green {
  color: #083300;
}
.bold {
  font-weight: 600;
}
.red {
  color: red;
}
.gray {
  color: rgba(0, 0, 0, 0.4);
}
.gray_v2{
  color: rgba(0, 0, 0, 0.60);
}
.black {
  color: #000;
}
