.home-landing-banner {
  background-size: cover;
  background-position: center;
  align-items: flex-end;
  padding: 80px;
  display: flex;
}
.container {
  padding: 60px;
}
.arrow-icon {
  height: 14px;
  width: 14px;
}
.mb-100 {
  margin-bottom: 100px;
}

.mb-30 {
  margin-bottom: 30px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-5 {
  margin-bottom: 5px;
}
.btn {
  width: 40%;
}
.colored-background {
  background-color: #158600;
  color: white;
}
.colored-background:hover {
  border: 1px solid #158600 !important;
  color: #158600 !important;
}
.transparent-background {
  border: 1px solid #158600;
  color: #158600;
}
.transparent-background:hover {
  background-color: #158600 !important;
  color: white !important;
  border: 1px solid #158600 !important;
}
.ant-image {
  height: 100%;
}
